header.container {
    padding: 0;
    background-color: hwb(339 88% 1%);
}

header.container > .inside {  /* Direct child .inside in .container */
    padding:0;
    max-width: 100%;
}

header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .col {
    width: 50%;
    height: 100dvh;
}

header .c1 { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
}

header h1 {
    margin-top:1em;
    font-size: 3rem;
    line-height: 1.3;
}

header .c1>:last-child {
    margin-bottom: 50px;
}

.c1 .button {
    background-image: url("../img/bg_button.gif");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    padding: 5px 30px;
    min-width: 300px;
    min-height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button span {
    margin: 0;
}

header .c2 {
    background-image: url("../img/im1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


